/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */

:root {
  --color-bg: #ba282a;
  --color-text-main: #000000;
  --color-text-header: #2800FF;
  --color-primary: #AFECE0;
  --wrapper-height: 87vh;
  --image-max-width: 300px;
  --image-margin: 3rem;
  --font-family: "Roca One";
  --font-family-header: "Roca One";
}
h1
{
  font-size: 160px;
  margin: auto;
  width: 100%;
  position: relative;
  top: 100px;
  text-align: center;
  color: #f1ede9;
  font-family: 'Roca One', sans-serif;
  z-index: 2;
}
nav {
  position: relative; 
  top: 150px;
  width: 25%;
  border-radius: 25px;
  border: 2px solid #f1ede9;
  padding: 50px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 30px;
  text-align: justify;
  z-index: 2; 
  background-color: #f1ede9;
  opacity: 0.7;
}
nav>a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative; 
  z-index: 2;
  color: black;
  font-family: 'Roca One', Monospace;
  font-weight: bold;
  text-decoration: none;
  
}
.starsDecor {
  position:absolute;
  width:100%;
  height: 100%;
  top:0px;
  object-fit:none;
  z-index:1;
}
.albums, .sources
{
  float: right;
  clear: right;
}
.bio, .disco
{
  float: left;
  clear: left;
}
.crop{
  position: relative;
  z-index: 2;
}
.Bruno{
  position: absolute; 
  z-index: 3; 
  width: auto;
  height: 800px; 
  object-fit: cover; 
  margin-bottom: 0%;
  left: 40%; 
  transform: translateX(-50%);
}
footer>p
{
  position: absolute;
  color:#f1ede9;
  top: 0px;
  right: 0px;
  font-size:10px
}
* {
  box-sizing: border-box;
}
.bioPage {
  background-color:#f8bd24;
}
.bioTitle {
  font-size: 100px;
  margin-right: 50%;
  width: 60%;
  position: relative;
  padding:50px;
  top: 100px;
  text-align: left;
  color: #f1ede9;
  font-family: 'Roca One', sans-serif;
}

.bioContent {
  width: 60%;
  padding: 50px;
  font-family: 'Roca One', Monospace;
  text-decoration: none;
  text-align: justify;
  left: 50px;
  top: -50px;
}
.image1 {
  display:inline-block;
  position: fixed;
  width:42%;
  bottom: 0px;
  right: 0px;
  z-index: 4; 
}
.albumCover>img{
  display: inline-block;
  width:20%;
  height:auto;
  margin-left: 2%;
  margin-top: 10%;
  justify-content: center;
  padding: 30px;
}
.discoPage{
  background-color: #291b17;
}
#discoTitle {
  position: absolute;
  width:50%;
  top: 50px; 
  margin-left: 40%;
  font-size: 90px;
}
.discoAlbums{
  margin-bottom: 50%;
}
.discoAlbums>img{
  position:relative;
  display:flex;
  justify-content: center;
  margin-left: 10%;
  top: 0px;
  padding: 30px;
}
#discoBack, #discoGo{
  width: 20%;
  opacity: 0.5;
  margin-left: 12.5%
}
#discoBack:hover, #discoGo:hover{
  width: 20%;
  opacity: 1;
  margin-left: 12.5%
}
#discoPrimary{
  width: 25%;
}

#songList{
  position: absolute;
  display: inline-block;
  justify-content: justify;
  width: 60%;
  height: 600px;
  top: 200px;
  right: 0px;
}
.shownList { 
  font-size: 30px;
  font-family: 'Roca One', Monospace;
  font-weight: bold;
  text-align: justify;
  align-items: center;
  margin: 10%;
}
#albumTitle { 
  font-size: 160px;
  margin: auto;
  width: 100%;
  position: relative;
  top: 50px;
  text-align: center;
  font-family: 'Roca One', sans-serif;
  z-index: 2;
}
#albumContainer, .dropdown{
  font-family: 'Roca One', Monospace;
  position: relative;
  width: 100%;
  top: 80px;
}
#albumContainer>img {
  display: block;
  width: 250px;
  height: 250px;
  margin-left: 5%;
  padding: 20px;
  cursor: pointer;
}
.albumDescription {
  position: absolute;
  width: 60%;
  text-align: justify;
  top: 50px;
  left: 400px;
}
.sort-buttons button {
  margin: 5px;
  padding: 10px;
  cursor: pointer;
}
.references{
  position: relative;
  font-size: 20px;
  width: 100%;
  top: 100px;
}
.goback {
  position: fixed;
  bottom: 0px;
  width: 60%;
  height: 30px;
  background-color: #291b17;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
}
.gobackfull {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 30px;
  background-color: #291b17;
  font-size: 20px;
  text-align: center;
  vertical-align: center;
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  z-index:3;
}
.gobacklinks {
  color: #f1ede9;
  font-family:'Roca One', Monospace;
  font-weight: bold;
  text-decoration: none;
}
.gobacklinks:visited{
  color:#f1ede9;
}
[hidden] {
  display: none !important;
}

/* Import fonts */
@font-face {
  font-family: HK Grotesk;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
    format("opentype");
}
@font-face {
  font-family: HK Grotesk;
  font-weight: bold;
  src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")
    format("opentype");
}



body {
  height: 100vh;
  font-family: 'Roca One', Monospace;
  background-color: var(--color-bg);
}


h2 {
  color: var(--color-text-header);
}
@font-face{
  font-family: "Roca One";
  src: url(https://cdn.glitch.global/28cd22da-8213-4d82-b974-08837fa87097/RocaOne-Rg.ttf?v=1734915367238);
}